<a href="https://colab.research.google.com/github/prdmkumar7/Python-practice/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data", "Science", "Mentorship" ,"Program", "By" ,"CampusX", sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code
c = int(input("Enter the Temperature in Celcius"))
print(f"{c} degree celcius in Fahrenheit is {32 + 1.8*c} ")

Enter the Temperature in Celcius35
35 degree celcius in Fahrenheit is 95.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
print(f"Previous value of a and b is {a} and {b}")
c = a
a = b
b = c
print(f"Updated value of a and b is {a} and {b}")

Enter 1st number2
Enter 2nd number4
Previous value of a and b is 2 and 4
Updated value of a and b is 4 and 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
# Write your code here
import math
x1 = int(input("Enter the value of x1 : "))
y1 = int(input("Enter the value of y1 : "))
x2 = int(input("Enter the value of x2 : "))
y2 = int(input("Enter the value of y2 : "))
d = math.sqrt((x2-x1)**2 + (y2-y1)**2)
print(f"The euclidean distance between the two point is {d}")

Enter the value of x1 : 2
Enter the value of y1 : 2
Enter the value of x2 : 0
Enter the value of y2 : 0
The euclidean distance between the two point is 2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [8]:
# Write your code here
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of simple interest : "))
t = float(input("Enter the time of interest : "))
si = (p*r*t)/100
print(f"simple interest of the amount will be {si} rupees")

Enter the principle amount : 20000
Enter the rate of simple interest : 10
Enter the time of interest : 2
simple interest of the amount will be 4000.0 rupees

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [11]:
# Write your code here
heads = int(input("Enter the number of heads : "))
legs = int(input("Enter the number of legs : "))
print(f"dogs -> {int(legs/2-heads)} , chicken -> {int(2*heads - legs/2)}")

Enter the number of heads : 4
Enter the number of legs : 12
dogs -> 2 chicken -> 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [14]:
# Write your code here
n = int(input("Enter the number : "))
print(int((n*(n+1)*(2*n+1))/ 6))

Enter the number : 5
55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [16]:
# Write your code here
i = float(input("Enter the first term of the Arithmetic series : "))
j = float(input("Enter the second term of the Aritmetic Series : "))
n = int(input("Enter the nth term you wanted to print : "))
print(i + (n-1)*(j-i))

Enter the first term of the Arithmetic series : 1.5
Enter the second term of the Aritmetic Series : 4.6
Enter the nth term you wanted to print : 5
13.899999999999999

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
# Write your code here
n1 = int(input("Enter the numerator of first number : "))
d1 = int(input("Enter the denominator of first number : "))
n2 = int(input("Enter the numerator of second number : "))
d2 = int(input("Enter the denominator of second number : "))
print((n1*d1 + n2*d2)/(d1*d2))

Enter the numerator of first number : 1
Enter the denominator of first number : 2
Enter the numerator of second number : 1
Enter the denominator of second number : 4
0.75

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [22]:
# Write your code here
H = float(input("Enter the height of milk tank : "))
L = float(input("Enter the length of milk tank : "))
B = float(input("Enter the breadth of milk tank : "))
vt = L*B*H
h = float(input("Enter the height of glass : "))
r = float(input("Enter the radius of glass : "))
vg = 3.14*r*r*H
print(f"{int(vt/vg)} glass of milk can be obtained")

Enter the height of milk tank : 20
Enter the length of milk tank : 20
Enter the breadth of milk tank : 20
Enter the height of glass : 3
Enter the radius of glass : 1
127 glass of milk can be obtained